/* Breakpoints - sourced from https://bulma.io/documentation/customize/variables/ */
$gap: 32px;
$tablet: 769px;
$touch: 1024px; // navbar 'touch' threshold
$desktop: 1344px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);
