* {
  text-align: center;
  color: #666;
  font-family: 'Open Sans', sans-serif;
}

.hidden { display: none; }
.footer {
  margin-bottom: 40px;
}
.canvaswrapper {
  width: 30%;
  display: inline-block;
}
@media only screen and (max-width: 900px) {
  .canvaswrapper {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .canvaswrapper {
    width: 100%;
  }
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-top: 40px;
  margin-bottom: 40px;
}
body {
  padding-left:  300px;
  padding-right: 300px;
}
@media only screen and (max-width: 1600px) {
  body {
    padding-left:  200px;
    padding-right: 200px;
  }
}
@media only screen and (max-width: 1200px) {
  body {
    padding-left:  100px;
    padding-right: 100px;
  }
}
@media only screen and (max-width: 900px) {
  body {
    padding-left:  50px;
    padding-right: 50px;
  }
}
@media only screen and (max-width: 600px) {
  body {
    padding-left:  0px;
    padding-right: 0px;
  }
}
