name: pipeline
on:
  push:
    branches: [ master ]
  pull_request:
jobs:
  go:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with: { go-version: '^1.14' }
    - run: go mod download
    - run: make check-go
    - run: go test -race -coverprofile=coverage.txt ./...
    - uses: codecov/codecov-action@v1
      with:
        file: ./coverage.txt
        fail_ci_if_error: true

  web:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with: { node-version: '12' }
    - run: npm install
      workding-directory: web
    - run: npm run lint
      workding-directory: web
